Repository fancooling/game24-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-tests, angular-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # A collection of useful, language-agnostic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Python code formatter (black)
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black

  # TypeScript, HTML, SCSS, JSON formatter
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^game24_app/.*\.(ts|html|scss|json)$

  # Hooks defined for this specific project
  - repo: local
    hooks:
      - id: django-tests
        name: Run Django tests
        entry: python manage.py test
        language: system
        types: [python]
        pass_filenames: false # The test command runs on the whole project
      - id: angular-tests
        name: Run Angular tests
        # Runs tests headlessly and exits after one run
        entry: npm test --prefix game24_app -- --watch=false --browsers=ChromeHeadless
        language: system
        files: ^game24_app/ # Only run when files in the Angular app change
        pass_filenames: false

Black formatter.
  .dockerignore
  .pre-commit-config.yaml
  .prettierrc.json
  Dockerfile
  core/asgi.py
  core/settings.py
  core/urls.py
  core/wsgi.py
  env.yaml
  game24_app/angular.json
  game24_app/src/app/app.config.ts
  game24_app/src/app/app.html
  game24_app/src/app/app.ts
  game24_app/src/app/game-home/game-home.html
  game24_app/src/app/game-home/game-home.ts
  game24_app/src/app/services/solver.service.spec.ts
  game24_app/src/app/services/solver.service.ts
  game24_app/src/custom-theme.scss
  game24_app/src/index.html
  game24_app/src/main.ts
  game24_app/src/manifest.json
  game24_app/tailwind.config.js
  game24_app/tsconfig.app.json
  game24_app/tsconfig.spec.json
  game24_server/apps.py
  game24_server/solver.py
  game24_server/tests/test_solver.py
  game24_server/urls.py
  game24_server/views.py
  manage.py
  requirements.txt
Due: django-tests, angular-tests

Use prettier formatter.
  game24_app/package-lock.json
  game24_app/package.json
Due: angular-tests

Supported remote testing.
  game24_app/package-lock.json
  game24_app/package.json
  requirements.txt
Due: angular-tests

Set up docker to run locally.
  .dockerignore
  .env.dev
  README.md
  core/settings.py
  requirements.txt
Due: django-tests

Refactor
  Dockerfile
  core/settings.py
  game24_app/angular.json
  game24_app/package-lock.json
  game24_app/package.json
  game24_app/src/app/app.ts
  game24_app/src/app/services/config.service.ts
  game24_app/src/app/services/solver.service.spec.ts
  game24_app/src/app/services/solver.service.ts
  game24_app/src/manifest.json
  requirements.txt
Due: django-tests, angular-tests

Update angular version.
  game24_app/package-lock.json
  game24_app/package.json
Due: angular-tests

Upgrade pip packages.
  requirements.txt
Due: none

Updated angular and typescript packages.
  game24_app/package-lock.json
  game24_app/package.json
  game24_app/postcss.config.mjs
  game24_app/tailwind.config.js
Due: angular-tests

Upgrade dependency version, wrap up gdrive deployment in deploy.sh.
  Dockerfile
  deploy.sh
Due: none

Use latest stable version in Docker.
  Dockerfile
Due: none

Move solver to client-side TypeScript; deploy via GitHub Pages.
  .github/workflows/deploy.yml
  CLAUDE.md
  game24_app/angular.json
  game24_app/src/CNAME
  game24_app/src/app/services/config.service.ts
  game24_app/src/app/services/solver.service.spec.ts
  game24_app/src/app/services/solver.service.ts
  game24_app/src/app/solver/solver.spec.ts
  game24_app/src/app/solver/solver.ts
Due: angular-tests

Sync CLAUDE.md with client-side architecture; fix tsconfig coverage.
  CLAUDE.md
  game24_app/tsconfig.app.json
  game24_app/tsconfig.spec.json
Due: angular-tests

Add Google Analytics (GA4) tracking.
  CLAUDE.md
  game24_app/src/index.html
Due: angular-tests
